In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

# "Module or Mod operator"

In [6]:
7/4

1.75

In [7]:
7%4

3

In [8]:
2 ** 2

4

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(((2 + 10) * 10) + 3)

123

In [11]:
(2+10)*(10+3)

156

In [12]:
my_dogs = 2
print(my_dogs)
my_dogs = ['arnav', 'parmar']
print(my_dogs)

2
['arnav', 'parmar']

In [13]:
print(type(my_dogs))

<class 'list'>

# STRINGS

In [14]:
mystring = "hello world"
print(mystring)

hello world

In [16]:
mystring[-1]

'd'

In [17]:
mystring[-2]

'l'

In [18]:
mystring = 'abcdefghijk'
print(mystring)

abcdefghijk

In [20]:
mystring[2:-1]

'cdefghij'

In [21]:
mystring[2:]

'cdefghijk'

In [23]:
mystring[:3] #go upto 3rd index, but don't include it

'abc'

In [24]:
mystring[3:6]

'def'

In [25]:
mystring[1:3]

'bc'

In [26]:
mystring[3:9]

'defghi'

# STEPSIZE DEMO

In [30]:
#syntax - string_name[start_index:stop_index:jump]

In [31]:
mystring[::1]

'abcdefghijk'

In [32]:
mystring[::2]

'acegik'

In [33]:
mystring[::3]

'adgj'

In [34]:
mystring[::-1] #to reverse the string

'kjihgfedcba'

In [43]:
name = 'sam'

In [44]:
last_letters = name[1:]

In [45]:
first_letter = 'S'

In [46]:
finall = first_letter+last_letters

In [47]:
finall

'Sam'

In [51]:
x = 'Hello world'

In [52]:
x = x + ', it is beautiful outside'

In [53]:
x

'Hello world, it is beautiful outside'

In [62]:
x ='hello world'
x.upper()

'HELLO WORLD'

In [63]:
x = 'HELLO WORLD'
x.lower()

'hello world'

In [65]:
x.upper

In [66]:
x.split()

['HELLO', 'WORLD']

In [67]:
x

'HELLO WORLD'

In [68]:
x = 'hello world'

In [69]:
x

'hello world'

In [70]:
x = 'hi this is a string' 
x.split() #by default, it will split in whitespaces

['hi', 'this', 'is', 'a', 'string']

In [71]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

# Formatting with the .format() method
# String here {} then also {}.'format('something1', 'something2')

In [72]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [79]:
print('Hello my name is {}'.format('Arnav Parmar'))

Hello my name is Arnav Parmar

In [81]:
print('Hello my name is {}, {}'.format('Arnav Parmar', 'So nice to meet you'))

Hello my name is Arnav Parmar, So nice to meet you

In [82]:
print('the {} {} {}'.format('brown', 'fox', 'bha'))

the brown fox bha

In [83]:
print('the {2} {1} {0}'.format('quick', 'brown', 'fox'))

the fox brown quick

In [85]:
print('the {q} {f} {f}'.format(f='brown', b = 'fox', q = 'bha'))

the bha brown brown

# Float formatting follows "{value:width.precision f}"

In [86]:
result = 100/777

In [87]:
result

0.1287001287001287

In [88]:
print('The result is {}'.format(result))

The result is 0.1287001287001287

In [92]:
print('The result is {r:1.3f}'.format(r = result))

The result is 0.129

# f-string method

In [93]:
name = 'arnav'

In [95]:
print(f'Hello my name is {name}')

Hello my name is arnav

In [96]:
name = 'sam'
age = 3

print(f' {name} is {age} years old')

 sam is 3 years old


# LISTS

In [97]:
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [99]:
len(my_list)

4

In [100]:
name = 'arnav'
len(name)

5

In [101]:
mylist = ['one','two','three']
mylist[0]

'one'

In [102]:
mylist[1:]

['two', 'three']

In [103]:
mylist[:]

['one', 'two', 'three']

In [107]:
another_list = ['four', 'five']
newlist = mylist + another_list
newlist

['one', 'two', 'three', 'four', 'five']

In [108]:
newlist[0] = 'hello'
newlist

['hello', 'two', 'three', 'four', 'five']

# Lists are mutable, unlike strings

In [123]:
newlist.append('Six')
newlist

['hello', 'two', 'three', 'four', 'Six', 'Six', 'Six']

In [124]:
newlist.append('seven')
newlist

['hello', 'two', 'three', 'four', 'Six', 'Six', 'Six', 'seven']

In [125]:
lastelement = newlist.pop() #removes the last element of the list
print(newlist)
print(f'Last element was {lastelement}')

['hello', 'two', 'three', 'four', 'Six', 'Six', 'Six']
Last element was seven

In [130]:
newlist.pop(3)
print(newlist)

['hello', 'two', 'three']

In [131]:
newlist.pop(2)

'three'

In [132]:
newlist

['hello', 'two']

In [133]:
newlist.pop(0)
print(newlist)

['two']

In [138]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [139]:
print(f'Old list {new_list}')
new_list.sort()

sorted_list = new_list
print(sorted_list)

Old list ['a', 'e', 'x', 'b', 'c']
['a', 'b', 'c', 'e', 'x']

In [140]:
num_list

[4, 1, 8, 3]

In [149]:
print(f'Old num list: {num_list}')
num_list.sort()
newnum_list = num_list
print(f'new num list: {newnum_list}')

Old num list: [8, 4, 3, 1]
new num list: [1, 3, 4, 8]

In [143]:
newnum_list.reverse()
revlist = newnum_list
print(revlist)

[8, 4, 3, 1]

# DICTIONARIES

In [146]:
info = {
    'name':'arnav',
    'age': 24
}

print(info)

{'name': 'arnav', 'age': 24}

In [152]:
info['name']

'arnav'

In [150]:
my_dict = {'key1':'val1', 'key2':'val2'}

In [151]:
my_dict['key1']

'val1'

In [153]:
price_lookup = {
    'apple':2.99,
    'oranges':1.99,
    'milk':5.80
}

price_lookup['milk']

5.8

In [157]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'someval':100}}
print(d['k2'][0])
print(d['k3'])

0
{'someval': 100}

In [158]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [159]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'someval': 100})])

In [160]:
d = {'k1':100, 'k2':200, 'k3':300}
d

{'k1': 100, 'k2': 200, 'k3': 300}

# TUPLES

# Tuples are similar to Lists, the only difference being that tuples are immutable

In [162]:
t = (1,2,3,4) #creating a tuple
mylist = [1,2,3,4]

In [163]:
print(t)
print('\n')
print(mylist)

(1, 2, 3, 4)


[1, 2, 3, 4]

In [165]:
#Tuple only has 2 functions

t = ('a','a','b')
t.count('a')

2

In [166]:
t.index('a')

0

In [167]:
t

('a', 'a', 'b')

In [168]:
mylist[0]='new'
mylist

['new', 2, 3, 4]

In [170]:
# t[0]='new' This will give error

# SETS

In [171]:
#Sets are unordered collections of unique elements
# meaning there can only be one representative of the same object

In [174]:
myset = set()

In [175]:
myset

set()

In [176]:
myset.add(1)
myset

{1}

In [177]:
myset.add(1)

In [178]:
myset

{1}

In [179]:
myset.add(2)

In [180]:
myset

{1, 2}

In [181]:
mylist = [1,1,1,1,1,1,2,2,2,3,3,3,3,3]
set(mylist)

{1, 2, 3}

# BOOLEAN

In [182]:
# Booleans are operators that alllw you to convey True or False statements

In [184]:
False

False

In [186]:
True

True

In [187]:
1==1

True

In [188]:
1 == 2

False

In [192]:
b = None
print(b)
type(b)

None

NoneType

In [193]:
myset = {1,2,3,4}
myset

{1, 2, 3, 4}

In [194]:
type(myset)

set

# I/O with basic files in Python

In [195]:
#JupyterNotebook hack

%%writefile test.txt
hello, this is a text file
this is the second file
this is the third line

Overwriting test.txt

In [196]:
myfile = open('test.txt')

In [198]:
pwd

'/Users/arnavparmar/Desktop/Desktop/Python Practice/Section 3 - Python Object and Data Structure Basics'

In [199]:
myfile = open('test.txt')

In [200]:
myfile.read()

'hello, this is a text file\nthis is the second file\nthis is the third line\n'

In [201]:
myfile.read()
#there is a cursor which goes to end of file, you need to reset it

''

In [203]:
myfile.seek(0)
contents = myfile.read()

In [204]:
print(contents)

hello, this is a text file
this is the second file
this is the third line

In [206]:
myfile.seek(0)
myfile.readlines()

['hello, this is a text file\n',
 'this is the second file\n',
 'this is the third line\n']

In [208]:
pwd

'/Users/arnavparmar/Desktop/Desktop/Python Practice/Section 3 - Python Object and Data Structure Basics'

In [209]:
myfile.close()

In [216]:
# with open('test.txt',mode='r+') as my_new_file:
#     my_new_file.seek(0)
#     contents = my_new_file.read()
#     print(contents)

UnsupportedOperation: not readable

In [249]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [250]:
with open('my_new_file.txt', mode='r') as f:
    content = f.read()
    print(content)

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [251]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [252]:
with open('my_new_file.txt', mode='r') as f:
    content = f.read()
    print(content)

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [253]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFIVE ON FIFTH')

In [254]:
with open('my_new_file.txt', mode = 'r') as f:
    content = f.read()
    print(content)

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FIVE ON FIFTH

In [255]:
with open ('dosjod.txt', mode='w') as f:
    f.write('I just created this file')